@{
    ViewData["Title"] = "Kurwa, nie możesz!";
}

@model BaseModel

<div class="text-center">
    <h1 class="display-4">Нет прав на просмотр страницы</h1>
    <img src="~/images/beaver_no.jpg" />
</div>
