@{
    ViewData["Title"] = "Register Page";
}

@model RegisterModel

<div class="text-center">
    <h1 class="display-4">Welcome to test-O!</h1>
    <p>Test-O!</p>
    <form id="registerForm" method="post">
        <label>Логин:</label><br />
        <input type="text" name="login" id="login" /><br /><br />
        <label>Пароль:</label><br />
        <input type="password" name="password" id="password" /><br /><br />
        <label>Имя:</label><br />
        <input type="text" name="firstName" id="firstName" /><br /><br />
        <label>Фамилия:</label><br />
        <input type="text" name="lastName" id="lastName" /><br /><br />
        <label>Email:</label><br />
        <input type="text" name="email" id="email" /><br /><br />
        <input type="submit" value="Отправить" />
    </form>
</div>
